@import '_variables.scss', '_mixins.scss', 'rem';


// Theme Normalize
html {
  @include rem-baseline;
  height: 100%;
}

body {
	font-family: 'IRANSans';
	color: $secondary_color;
  height: 100%;
	@include rem(font-size, 12px);
}
a {
	text-decoration: none;
	transition: all 300ms
}
a:hover,
a:focus {
	text-decoration: none
}
input {
	outline: none
}
button {
	outline: none;
	padding: 0;
}
