a[data-tooltip] {
  position: relative; }

a[data-tooltip]:before {
  position: absolute;
  padding: 0 15px;
  height: 32px;
  line-height: 32px;
  background: #5a5c60;
  top: -30px;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(50%);
  transform: translateX(-50%);
  opacity: 0;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  content: attr(data-tooltip);
  font-size: 11px;
  left: 50%;
  min-width: 150px;
  -webkit-border-radius: 4px;
          border-radius: 4px;
  color: #fff;
  pointer-events: none;
  z-index: 999;
  text-align: center; }

a[data-tooltip]:hover:before {
  top: -40px;
  opacity: 1; }

a[data-tooltip]:after {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-transform: translate(0, 0);
      -ms-transform: translate(0, 0);
          transform: translate(0, 0);
  content: "\f0d7";
  position: absolute;
  left: 50%;
  top: -10px;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  opacity: 0;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  color: #5a5c60;
  font-size: 20px;
  z-index: 999; }

a[data-tooltip]:hover:after {
  opacity: 1;
  top: -16px; }

button[data-tanyarhover] {
  position: relative;
  overflow: hidden; }

button[data-tanyarhover]:before {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  background-color: #5dc560;
  width: 110%;
  height: 200px;
  -webkit-transform: translate(100%, 100%);
      -ms-transform: translate(100%, 100%);
          transform: translate(100%, 100%);
  -webkit-transition: all 1s;
  transition: all 1s;
  -webkit-border-radius: 100% 0 0 0;
          border-radius: 100% 0 0 0;
  z-index: -1; }

button[data-tanyarhover]:hover:before {
  -webkit-transform: translate(0, 0);
      -ms-transform: translate(0, 0);
          transform: translate(0, 0); }

.sign_in,
.sign_up {
  position: relative;
  height: 100%;
  background-size: cover;
  background: url("../img/signin_bg.jpg") no-repeat center center fixed;
  overflow: auto; }
  .sign_in .login_panel,
  .sign_up .login_panel {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    background: rgba(59, 69, 87, 0.8);
    text-align: center;
    height: auto;
    width: 350px;
    width: 35rem;
    padding: 25px;
    padding: 2.5rem;
    -webkit-border-radius: 4px;
            border-radius: 4px;
    -webkit-border-radius: 0.4rem;
            border-radius: 0.4rem; }
    .sign_in .login_panel > a,
    .sign_up .login_panel > a {
      position: absolute;
      color: #adadad;
      top: 25px;
      top: 2.5rem;
      left: 25px;
      left: 2.5rem;
      font-size: 20px;
      font-size: 2rem; }
      .sign_in .login_panel > a:hover,
      .sign_up .login_panel > a:hover {
        color: #5dc560; }
    .sign_in .login_panel .login_check,
    .sign_up .login_panel .login_check {
      color: #adadad;
      font-size: 85px;
      font-size: 8.5rem;
      margin-bottom: 20px;
      margin-bottom: 2rem; }
    .sign_in .login_panel form input,
    .sign_up .login_panel form input {
      position: relative;
      border: none;
      border-bottom: solid #f0f0f0;
      -webkit-box-sizing: border-box;
         -moz-box-sizing: border-box;
              box-sizing: border-box;
      -webkit-transition: all 0.5s;
      transition: all 0.5s;
      width: 100%;
      background: transparent;
      border-bottom-width: 1px;
      border-bottom-width: 0.1rem;
      padding: 10px 25px 10px 10px;
      padding: 1rem 2.5rem 1rem 1rem;
      height: 45px;
      height: 4.5rem; }
      .sign_in .login_panel form input:focus,
      .sign_up .login_panel form input:focus {
        border-bottom-color: #5dc560;
        color: #5dc560; }
    .sign_in .login_panel form .email,
    .sign_in .login_panel form .mobile,
    .sign_in .login_panel form .name,
    .sign_in .login_panel form .password,
    .sign_in .login_panel form .username,
    .sign_in .login_panel form .verify_password,
    .sign_up .login_panel form .email,
    .sign_up .login_panel form .mobile,
    .sign_up .login_panel form .name,
    .sign_up .login_panel form .password,
    .sign_up .login_panel form .username,
    .sign_up .login_panel form .verify_password {
      position: relative; }
      .sign_in .login_panel form .email:before,
      .sign_in .login_panel form .mobile:before,
      .sign_in .login_panel form .name:before,
      .sign_in .login_panel form .password:before,
      .sign_in .login_panel form .username:before,
      .sign_in .login_panel form .verify_password:before,
      .sign_up .login_panel form .email:before,
      .sign_up .login_panel form .mobile:before,
      .sign_up .login_panel form .name:before,
      .sign_up .login_panel form .password:before,
      .sign_up .login_panel form .username:before,
      .sign_up .login_panel form .verify_password:before {
        position: absolute;
        top: 50%;
        -webkit-transform: translate(0, -50%);
            -ms-transform: translate(0, -50%);
                transform: translate(0, -50%);
        font: normal normal normal 16px/1 FontAwesome;
        color: #adadad; }
    .sign_in .login_panel form .remember,
    .sign_up .login_panel form .remember {
      text-align: right; }
      .sign_in .login_panel form .remember input[type="checkbox"],
      .sign_up .login_panel form .remember input[type="checkbox"] {
        display: none; }
      .sign_in .login_panel form .remember span,
      .sign_up .login_panel form .remember span {
        color: #adadad; }
      .sign_in .login_panel form .remember input[type="checkbox"] + span:before,
      .sign_up .login_panel form .remember input[type="checkbox"] + span:before {
        display: inline-block;
        vertical-align: middle;
        *vertical-align: auto;
        *zoom: 1;
        *display: inline;
        position: relative;
        bottom: 1px;
        width: 18px;
        height: 18px;
        content: "";
        border: 1px solid #ccc;
        cursor: pointer; }
      .sign_in .login_panel form .remember input[type="checkbox"]:checked + span:before,
      .sign_up .login_panel form .remember input[type="checkbox"]:checked + span:before {
        font-family: FontAwesome;
        content: '\f00c';
        font-size: 11px;
        color: #fff;
        text-align: center;
        line-height: 16px;
        background: #59AB02;
        border: 1px solid #59AB02; }
    .sign_in .login_panel form .username:before,
    .sign_up .login_panel form .username:before {
      content: "\f007"; }
    .sign_in .login_panel form .password:before,
    .sign_in .login_panel form .verify_password:before,
    .sign_up .login_panel form .password:before,
    .sign_up .login_panel form .verify_password:before {
      content: "\f023"; }
    .sign_in .login_panel form .mobile:before,
    .sign_up .login_panel form .mobile:before {
      content: "\f095"; }
    .sign_in .login_panel form .name:before,
    .sign_up .login_panel form .name:before {
      content: "\f007"; }
    .sign_in .login_panel form .email:before,
    .sign_up .login_panel form .email:before {
      content: "\f003"; }
    .sign_in .login_panel form .notification,
    .sign_up .login_panel form .notification {
      background: #e66a5d;
      color: #fff;
      margin-bottom: 0;
      padding: 10px;
      padding: 1rem; }
    .sign_in .login_panel form button,
    .sign_up .login_panel form button {
      width: 100%;
      border: none;
      color: #5dc560;
      background: #fff;
      font-weight: bold;
      z-index: 10;
      -webkit-transition: all 1s;
      transition: all 1s;
      margin: 25px 0 25px 0;
      margin: 2.5rem 0 2.5rem 0;
      padding: 10px 25px 10px 10px;
      padding: 1rem 2.5rem 1rem 1rem;
      height: 45px;
      height: 4.5rem;
      -webkit-border-radius: 4px;
              border-radius: 4px;
      -webkit-border-radius: 0.4rem;
              border-radius: 0.4rem; }
      .sign_in .login_panel form button:hover,
      .sign_up .login_panel form button:hover {
        color: #fff; }
    .sign_in .login_panel form p,
    .sign_up .login_panel form p {
      color: #adadad; }
      .sign_in .login_panel form p a,
      .sign_up .login_panel form p a {
        color: #fff; }

header.header {
  width: 100%;
  border: none;
  background: #3b4557;
  height: 110px;
  height: 11rem;
  -webkit-transition: -webkit-transform 400ms ease;
  transition: -webkit-transform 400ms ease;
  transition: transform 400ms ease;
  transition: transform 400ms ease, -webkit-transform 400ms ease;
  -webkit-transform: translate(0, 0);
      -ms-transform: translate(0, 0);
          transform: translate(0, 0);
  position: relative;
  z-index: 10; }
  header.header.header_active {
    -webkit-transform: translate(75%, 0);
        -ms-transform: translate(75%, 0);
            transform: translate(75%, 0);
    -webkit-transition: -webkit-transform 400ms ease;
    transition: -webkit-transform 400ms ease;
    transition: transform 400ms ease;
    transition: transform 400ms ease, -webkit-transform 400ms ease; }
  header.header .toggle_sidebar_right {
    float: right;
    text-align: center;
    background: #5dc560;
    height: 110px;
    height: 11rem;
    width: 10%;
    width: 10%;
    line-height: 110px;
    line-height: 11rem;
    font-size: 35px;
    font-size: 3.5rem; }
    header.header .toggle_sidebar_right a {
      display: block;
      color: #fff; }
  header.header .logo {
    float: right;
    margin-top: 30px;
    margin-top: 3rem; }
  header.header .menu_header {
    float: left; }
    header.header .menu_header ul {
      padding: 0;
      float: left;
      list-style: none;
      margin: 0; }
      header.header .menu_header ul li {
        float: right;
        position: relative;
        text-align: center;
        display: inline-block;
        padding: 30px;
        padding: 3rem;
        min-height: 110px;
        min-height: 11rem; }
        header.header .menu_header ul li:after {
          position: absolute;
          content: '';
          bottom: -5px;
          left: 0;
          right: 0;
          margin: auto;
          width: 0;
          background: #5dc560;
          -webkit-transition: all 0.5s;
          transition: all 0.5s;
          height: 5px;
          height: 0.5rem; }
        header.header .menu_header ul li.sign_out:after {
          background: #e66a5d; }
        header.header .menu_header ul li.sign_out a i {
          color: #e66a5d; }
        header.header .menu_header ul li a {
          position: relative; }
          header.header .menu_header ul li a i {
            display: block;
            position: absolute;
            top: 0;
            left: 50%;
            color: #5dc560;
            -webkit-transition: all 0.5s;
            transition: all 0.5s;
            -webkit-transform: translate(-50%, 0);
                -ms-transform: translate(-50%, 0);
                    transform: translate(-50%, 0);
            font-size: 35px;
            font-size: 3.5rem; }
          header.header .menu_header ul li a span {
            position: relative;
            -webkit-transition: all 0.5s;
            transition: all 0.5s;
            font-weight: bold;
            bottom: -45px;
            color: #fff;
            font-size: 12px;
            font-size: 1.2rem; }
        header.header .menu_header ul li:hover a i {
          opacity: 0.1;
          -webkit-filter: grayscale(100%);
                  filter: grayscale(100%);
          font-size: 45px;
          font-size: 4.5rem; }
        header.header .menu_header ul li:hover a span {
          bottom: -20px; }
      header.header .menu_header ul li:hover:after {
        width: 100%; }
  header.header .navbar-toggle {
    /*border: 1px solid #FF5252;*/
    -webkit-border-radius: 3px;
            border-radius: 3px;
    margin-top: 25px;
    padding: 12px 10px;
    display: block;
    border: none;
    /*background-color: #FF5252;*/ }
    header.header .navbar-toggle:focus, header.header .navbar-toggle:hover {
      background: transparent !important; }
    header.header .navbar-toggle.btn-anim-three {
      -webkit-border-radius: 3px;
              border-radius: 3px;
      position: relative;
      width: 110px;
      width: 11rem;
      height: 110px;
      height: 11rem;
      line-height: 110px;
      line-height: 11rem;
      margin: 0;
      margin: 0; }
      header.header .navbar-toggle.btn-anim-three span {
        position: absolute;
        height: 5px;
        -webkit-border-radius: 4px;
                border-radius: 4px;
        background: #fff;
        -webkit-transition: all 0.4s ease;
        transition: all 0.4s ease; }
        header.header .navbar-toggle.btn-anim-three span.one {
          width: 30px;
          top: 40%;
          left: 50%;
          -webkit-transform: translate(-50%, -50%);
              -ms-transform: translate(-50%, -50%);
                  transform: translate(-50%, -50%); }
        header.header .navbar-toggle.btn-anim-three span.two {
          width: 30px;
          top: 50%;
          left: 50%;
          -webkit-transform: translate(-50%, -50%);
              -ms-transform: translate(-50%, -50%);
                  transform: translate(-50%, -50%); }
        header.header .navbar-toggle.btn-anim-three span.three {
          width: 30px;
          top: 60%;
          left: 50%;
          -webkit-transform: translate(-50%, -50%);
              -ms-transform: translate(-50%, -50%);
                  transform: translate(-50%, -50%); }
      header.header .navbar-toggle.btn-anim-three.closed span.one {
        width: 30px;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%) rotate(225deg);
            -ms-transform: translate(-50%, -50%) rotate(225deg);
                transform: translate(-50%, -50%) rotate(225deg); }
      header.header .navbar-toggle.btn-anim-three.closed span.two {
        top: 50%;
        left: 50%;
        opacity: 0; }
      header.header .navbar-toggle.btn-anim-three.closed span.three {
        width: 30px;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%) rotate(-225deg);
            -ms-transform: translate(-50%, -50%) rotate(-225deg);
                transform: translate(-50%, -50%) rotate(-225deg); }
  header.header .sb-toggle-left {
    float: left;
    padding: 14px;
    padding: 1.4rem; }
  header.header .sb-toggle-right {
    float: right;
    width: 58px;
    width: 5.8rem;
    padding: 14px;
    padding: 1.4rem; }
  header.header .sb-close,
  header.header .sb-open-left,
  header.header .sb-open-right,
  header.header .sb-toggle-left,
  header.header .sb-toggle-right {
    cursor: pointer; }
  header.header .navicon-line {
    background-color: #fff;
    width: 24px;
    width: 2.4rem;
    height: 4px;
    height: 0.4rem;
    -webkit-border-radius: 1px;
            border-radius: 1px;
    -webkit-border-radius: 0.1rem;
            border-radius: 0.1rem;
    margin-bottom: 3px;
    margin-bottom: 0.3rem; }

#wrapper {
  margin-right: 10%;
  position: relative;
  -webkit-transition: -webkit-transform 400ms ease;
  transition: -webkit-transform 400ms ease;
  transition: transform 400ms ease;
  transition: transform 400ms ease, -webkit-transform 400ms ease;
  -webkit-transform: translate(0, 0);
      -ms-transform: translate(0, 0);
          transform: translate(0, 0);
  z-index: 9;
  min-height: 100vh;
  background-color: #fff; }
  #wrapper.wrapper_active {
    -webkit-transition: -webkit-transform 400ms ease;
    transition: -webkit-transform 400ms ease;
    transition: transform 400ms ease;
    transition: transform 400ms ease, -webkit-transform 400ms ease;
    -webkit-transform: translate(75%, 0);
        -ms-transform: translate(75%, 0);
            transform: translate(75%, 0);
    margin-right: 0; }
  #wrapper #sidebar {
    background: #f0f0f0;
    z-index: 1000;
    position: fixed;
    width: 0;
    height: 100%;
    overflow-y: auto;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
    right: 250px;
    right: 25rem;
    margin-right: -250px;
    margin-right: -25rem; }
  #wrapper #main {
    width: 100%; }
    #wrapper #main header#header {
      background: #3b4557;
      height: 110px;
      height: 11rem; }
    #wrapper #main .content {
      width: 100%;
      float: right;
      padding: 25px;
      padding: 2.5rem; }
      #wrapper #main .content .notification {
        position: relative;
        width: 100%;
        float: right;
        background-color: #f0f0f0;
        padding: 15px;
        padding: 1.5rem;
        margin-bottom: 15px;
        margin-bottom: 1.5rem; }
        #wrapper #main .content .notification.closed {
          opacity: 0;
          -webkit-transition: all 1s;
          transition: all 1s;
          -webkit-transform: translate(0, -100%);
              -ms-transform: translate(0, -100%);
                  transform: translate(0, -100%); }
        #wrapper #main .content .notification.success {
          border-bottom: solid #5dc560;
          border-bottom-width: 2px;
          border-bottom-width: 0.2rem; }
          #wrapper #main .content .notification.success:before {
            content: "\f00c";
            text-align: center;
            font: normal normal normal 14px/1 FontAwesome;
            position: absolute;
            top: 50%;
            right: 0;
            color: #fff;
            -webkit-border-radius: 50%;
                    border-radius: 50%;
            background-color: #5dc560;
            -webkit-transform: translate(-50%, -50%);
                -ms-transform: translate(-50%, -50%);
                    transform: translate(-50%, -50%);
            width: 40px;
            width: 4rem;
            height: 40px;
            height: 4rem;
            line-height: 40px;
            line-height: 4rem; }
        #wrapper #main .content .notification.error {
          border-bottom: solid #e66a5d;
          border-bottom-width: 2px;
          border-bottom-width: 0.2rem; }
          #wrapper #main .content .notification.error:before {
            content: "\f00d";
            text-align: center;
            font: normal normal normal 14px/1 FontAwesome;
            position: absolute;
            top: 50%;
            right: 0;
            color: #fff;
            -webkit-border-radius: 50%;
                    border-radius: 50%;
            background-color: #e66a5d;
            -webkit-transform: translate(-50%, -50%);
                -ms-transform: translate(-50%, -50%);
                    transform: translate(-50%, -50%);
            width: 40px;
            width: 4rem;
            height: 40px;
            height: 4rem;
            line-height: 40px;
            line-height: 4rem; }
        #wrapper #main .content .notification.info {
          border-bottom: solid #3b4557;
          border-bottom-width: 2px;
          border-bottom-width: 0.2rem; }
          #wrapper #main .content .notification.info:before {
            content: "\f129";
            text-align: center;
            font: normal normal normal 14px/1 FontAwesome;
            position: absolute;
            top: 50%;
            right: 0;
            color: #fff;
            -webkit-border-radius: 50%;
                    border-radius: 50%;
            background-color: #3b4557;
            -webkit-transform: translate(-50%, -50%);
                -ms-transform: translate(-50%, -50%);
                    transform: translate(-50%, -50%);
            width: 40px;
            width: 4rem;
            height: 40px;
            height: 4rem;
            line-height: 40px;
            line-height: 4rem; }
        #wrapper #main .content .notification span.close {
          position: absolute;
          top: 50%;
          left: 0;
          -webkit-transform: translate(100%, -50%);
              -ms-transform: translate(100%, -50%);
                  transform: translate(100%, -50%); }
        #wrapper #main .content .notification h3 {
          color: #3b4557;
          font-weight: bold;
          line-height: 1.5;
          text-align: justify;
          font-size: 12px;
          font-size: 1.2rem;
          margin: 10px 60px 10px 40px;
          margin: 1rem 6rem 1rem 4rem; }
      #wrapper #main .content .visit_list {
        width: 100%;
        float: right; }
        #wrapper #main .content .visit_list header {
          width: 100%;
          float: right;
          margin: 20px 0;
          margin: 2rem 0; }
          #wrapper #main .content .visit_list header h4 {
            color: #adadad;
            margin: 0;
            font-size: 12px;
            font-size: 1.2rem; }
          #wrapper #main .content .visit_list header h1 {
            color: #3b4557;
            font-weight: bold;
            font-size: 20px;
            font-size: 2rem; }
          #wrapper #main .content .visit_list header .meta {
            color: #adadad; }
            #wrapper #main .content .visit_list header .meta span {
              margin-left: 30px;
              margin-left: 3rem; }
        #wrapper #main .content .visit_list .visit_query {
          float: right;
          width: 100%; }
          #wrapper #main .content .visit_list .visit_query .total {
            background: #ecf0f6;
            color: #3b4557;
            float: right;
            font-size: 10px;
            font-size: 1rem;
            padding: 5px 10px;
            padding: 0.5rem 1rem;
            -webkit-border-radius: 4px;
                    border-radius: 4px;
            -webkit-border-radius: 0.4rem;
                    border-radius: 0.4rem;
            margin: 10px 0 0 10px;
            margin: 1rem 0 0 1rem; }
          #wrapper #main .content .visit_list .visit_query .success {
            background: #5dc560;
            color: #fff;
            float: right;
            font-size: 10px;
            font-size: 1rem;
            padding: 5px 10px;
            padding: 0.5rem 1rem;
            -webkit-border-radius: 4px;
                    border-radius: 4px;
            -webkit-border-radius: 0.4rem;
                    border-radius: 0.4rem;
            margin: 10px 0 0 10px;
            margin: 1rem 0 0 1rem; }
          #wrapper #main .content .visit_list .visit_query .fail {
            background: #e66a5d;
            color: #fff;
            float: right;
            font-size: 10px;
            font-size: 1rem;
            padding: 5px 10px;
            padding: 0.5rem 1rem;
            -webkit-border-radius: 4px;
                    border-radius: 4px;
            -webkit-border-radius: 0.4rem;
                    border-radius: 0.4rem;
            margin: 10px 0 0 10px;
            margin: 1rem 0 0 1rem; }
        #wrapper #main .content .visit_list .table-responsive {
          width: 100%;
          float: right;
          margin-top: 10px;
          margin-top: 1rem; }
        #wrapper #main .content .visit_list table {
          border: solid #f0f0f0;
          border-width: 1px;
          border-width: 0.1rem;
          -webkit-border-radius: 4px;
                  border-radius: 4px;
          -webkit-border-radius: 0.4rem;
                  border-radius: 0.4rem; }
          #wrapper #main .content .visit_list table tr {
            color: #3b4557; }
            #wrapper #main .content .visit_list table tr:hover {
              background: #f4f7f8; }
            #wrapper #main .content .visit_list table tr th {
              border-top: none;
              color: #97a2b2;
              background: #f4f7f8;
              padding: 20px 10px;
              padding: 2rem 1rem; }
            #wrapper #main .content .visit_list table tr td {
              vertical-align: middle;
              border-top: solid #f0f0f0;
              border-width: 1px;
              border-width: 0.1rem;
              padding: 15px 10px;
              padding: 1.5rem 1rem; }
            #wrapper #main .content .visit_list table tr td.day {
              font-weight: 500;
              color: #5dc560; }
            #wrapper #main .content .visit_list table tr td.program_dl span {
              font-weight: bold;
              padding: 5px;
              padding: 0.5rem;
              font-size: 18px;
              font-size: 1.8rem; }
              #wrapper #main .content .visit_list table tr td.program_dl span a {
                color: #adadad; }
            #wrapper #main .content .visit_list table tr td.status span.success {
              font-weight: bold;
              color: #5dc560;
              padding: 5px;
              padding: 0.5rem;
              font-size: 18px;
              font-size: 1.8rem; }
            #wrapper #main .content .visit_list table tr td.status span.fail {
              font-weight: bold;
              color: #e66a5d;
              padding: 5px;
              padding: 0.5rem;
              font-size: 18px;
              font-size: 1.8rem; }
      #wrapper #main .content .register_section .form_step {
        color: #adadad;
        width: 100%;
        float: right; }
        #wrapper #main .content .register_section .form_step .steps a {
          color: #adadad;
          cursor: default; }
        #wrapper #main .content .register_section .form_step .steps.step_active a {
          color: #5dc560; }
        #wrapper #main .content .register_section .form_step .steps.step_active:after {
          position: absolute;
          content: '';
          bottom: -5px;
          left: 0;
          right: 0;
          margin: auto;
          width: 100%;
          background: #5dc560 !important;
          -webkit-transition: all 0.5s;
          transition: all 0.5s;
          height: 2px;
          height: 0.2rem; }
        #wrapper #main .content .register_section .form_step .steps.step_1, #wrapper #main .content .register_section .form_step .steps.step_2, #wrapper #main .content .register_section .form_step .steps.step_3, #wrapper #main .content .register_section .form_step .steps.step_4, #wrapper #main .content .register_section .form_step .steps.step_5, #wrapper #main .content .register_section .form_step .steps.step_6 {
          float: right;
          width: 16.66667%;
          position: relative; }
          #wrapper #main .content .register_section .form_step .steps.step_1:after, #wrapper #main .content .register_section .form_step .steps.step_2:after, #wrapper #main .content .register_section .form_step .steps.step_3:after, #wrapper #main .content .register_section .form_step .steps.step_4:after, #wrapper #main .content .register_section .form_step .steps.step_5:after, #wrapper #main .content .register_section .form_step .steps.step_6:after {
            position: absolute;
            content: '';
            bottom: -5px;
            left: 0;
            right: 0;
            margin: auto;
            width: 100%;
            background: #adadad;
            -webkit-transition: all 0.5s;
            transition: all 0.5s;
            height: 2px;
            height: 0.2rem; }
          #wrapper #main .content .register_section .form_step .steps.step_1 span.number, #wrapper #main .content .register_section .form_step .steps.step_2 span.number, #wrapper #main .content .register_section .form_step .steps.step_3 span.number, #wrapper #main .content .register_section .form_step .steps.step_4 span.number, #wrapper #main .content .register_section .form_step .steps.step_5 span.number, #wrapper #main .content .register_section .form_step .steps.step_6 span.number {
            display: block;
            text-align: center; }
          #wrapper #main .content .register_section .form_step .steps.step_1 span.label, #wrapper #main .content .register_section .form_step .steps.step_2 span.label, #wrapper #main .content .register_section .form_step .steps.step_3 span.label, #wrapper #main .content .register_section .form_step .steps.step_4 span.label, #wrapper #main .content .register_section .form_step .steps.step_5 span.label, #wrapper #main .content .register_section .form_step .steps.step_6 span.label {
            color: inherit;
            display: block;
            text-align: center;
            padding: 10px;
            padding: 1rem;
            font-size: 12px;
            font-size: 1.2rem; }
      #wrapper #main .content .register_section .form_body {
        width: 50%;
        margin: 25px auto;
        margin: 2.5rem auto; }
        #wrapper #main .content .register_section .form_body input[type="email"],
        #wrapper #main .content .register_section .form_body input[type="text"],
        #wrapper #main .content .register_section .form_body textarea {
          position: relative;
          border: none;
          border-bottom: solid #f0f0f0;
          -webkit-box-sizing: border-box;
             -moz-box-sizing: border-box;
                  box-sizing: border-box;
          -webkit-transition: all 0.5s;
          transition: all 0.5s;
          width: 100%;
          border-bottom-width: 1px;
          border-bottom-width: 0.1rem;
          padding: 10px;
          padding: 1rem;
          height: 45px;
          height: 4.5rem; }
          #wrapper #main .content .register_section .form_body input[type="email"]:focus,
          #wrapper #main .content .register_section .form_body input[type="text"]:focus,
          #wrapper #main .content .register_section .form_body textarea:focus {
            border-bottom-color: #5dc560;
            color: #5dc560; }
          #wrapper #main .content .register_section .form_body input[type="email"].warning,
          #wrapper #main .content .register_section .form_body input[type="text"].warning,
          #wrapper #main .content .register_section .form_body textarea.warning {
            border-bottom-color: #e66a5d;
            -webkit-transition: all 0.5s;
            transition: all 0.5s;
            border-bottom-width: 2px;
            border-bottom-width: 0.2rem; }
            #wrapper #main .content .register_section .form_body input[type="email"].warning::-webkit-input-placeholder,
            #wrapper #main .content .register_section .form_body input[type="text"].warning::-webkit-input-placeholder,
            #wrapper #main .content .register_section .form_body textarea.warning::-webkit-input-placeholder {
              color: #e66a5d; }
            #wrapper #main .content .register_section .form_body input[type="email"].warning::-moz-placeholder,
            #wrapper #main .content .register_section .form_body input[type="text"].warning::-moz-placeholder,
            #wrapper #main .content .register_section .form_body textarea.warning::-moz-placeholder {
              color: #e66a5d; }
            #wrapper #main .content .register_section .form_body input[type="email"].warning:-ms-input-placeholder,
            #wrapper #main .content .register_section .form_body input[type="text"].warning:-ms-input-placeholder,
            #wrapper #main .content .register_section .form_body textarea.warning:-ms-input-placeholder {
              color: #e66a5d; }
            #wrapper #main .content .register_section .form_body input[type="email"].warning::placeholder,
            #wrapper #main .content .register_section .form_body input[type="text"].warning::placeholder,
            #wrapper #main .content .register_section .form_body textarea.warning::placeholder {
              color: #e66a5d; }
        #wrapper #main .content .register_section .form_body .form-group.field_desc {
          background-color: #84dca3;
          color: #fff;
          float: right;
          padding: 10px;
          padding: 1rem; }
          #wrapper #main .content .register_section .form_body .form-group.field_desc ul {
            list-style: none;
            padding: 0;
            margin: 0;
            float: right; }
            #wrapper #main .content .register_section .form_body .form-group.field_desc ul li {
              float: right;
              width: 100%;
              padding: 5px 0;
              padding: 0.5rem 0; }
        #wrapper #main .content .register_section .form_body input[type="radio"] {
          position: relative;
          margin: 0;
          top: 3px; }
        #wrapper #main .content .register_section .form_body button.next {
          position: relative;
          float: left;
          text-align: center;
          background-color: #f0f0f0;
          color: #adadad;
          border: solid #f0f0f0;
          overflow: hidden;
          z-index: 1;
          -webkit-transition: all 1s;
          transition: all 1s;
          padding: 10px 15px;
          padding: 1rem 1.5rem;
          border-width: 1px;
          border-width: 0.1rem;
          min-width: 200px;
          min-width: 20rem; }
          #wrapper #main .content .register_section .form_body button.next:before {
            content: "";
            position: absolute;
            bottom: 0;
            right: 0;
            width: 220px;
            height: 220px;
            color: #000;
            background-color: #5dc560;
            -webkit-transform: translate(100%, 100%);
                -ms-transform: translate(100%, 100%);
                    transform: translate(100%, 100%);
            -webkit-border-radius: 100% 0 0 0;
                    border-radius: 100% 0 0 0;
            -webkit-transition: all 1s;
            transition: all 1s;
            z-index: -1; }
          #wrapper #main .content .register_section .form_body button.next:hover {
            color: #fff;
            border-color: #5dc560; }
            #wrapper #main .content .register_section .form_body button.next:hover:before {
              -webkit-transform: translate(0, 0);
                  -ms-transform: translate(0, 0);
                      transform: translate(0, 0); }
        #wrapper #main .content .register_section .form_body button.prev {
          position: relative;
          float: right;
          text-align: center;
          background-color: #f0f0f0;
          color: #adadad;
          border: solid #f0f0f0;
          overflow: hidden;
          z-index: 1;
          -webkit-transition: all 1s;
          transition: all 1s;
          padding: 10px 15px;
          padding: 1rem 1.5rem;
          border-width: 1px;
          border-width: 0.1rem;
          min-width: 200px;
          min-width: 20rem; }
          #wrapper #main .content .register_section .form_body button.prev:before {
            content: "";
            position: absolute;
            bottom: 0;
            left: 0;
            width: 220px;
            height: 220px;
            color: #000;
            background-color: #e66a5d;
            -webkit-transform: translate(-100%, 100%);
                -ms-transform: translate(-100%, 100%);
                    transform: translate(-100%, 100%);
            -webkit-border-radius: 0 100% 0 0;
                    border-radius: 0 100% 0 0;
            -webkit-transition: all 1s;
            transition: all 1s;
            z-index: -1; }
          #wrapper #main .content .register_section .form_body button.prev:hover {
            color: #fff;
            border-color: #e66a5d; }
            #wrapper #main .content .register_section .form_body button.prev:hover:before {
              -webkit-transform: translate(0, 0);
                  -ms-transform: translate(0, 0);
                      transform: translate(0, 0); }
        #wrapper #main .content .register_section .form_body textarea {
          outline: none;
          height: 100px;
          height: 10rem; }
        #wrapper #main .content .register_section .form_body .step_1 .form-group.goal label {
          position: relative;
          display: block;
          padding: 0;
          height: 35px;
          height: 3.5rem;
          line-height: 35px;
          line-height: 3.5rem; }
        #wrapper #main .content .register_section .form_body .step_1 .form-group.goal_desc {
          display: none; }
        #wrapper #main .content .register_section .form_body .step_2 .form-group.birthday select, #wrapper #main .content .register_section .form_body .step_2 .form-group.city select, #wrapper #main .content .register_section .form_body .step_2 .form-group.province select {
          position: relative;
          border: none;
          border-bottom: solid #f0f0f0;
          width: 32.33333%;
          -webkit-box-sizing: border-box;
             -moz-box-sizing: border-box;
                  box-sizing: border-box;
          -webkit-transition: all 0.5s;
          transition: all 0.5s;
          border-bottom-width: 1px;
          border-bottom-width: 0.1rem;
          padding: 10px;
          padding: 1rem;
          height: 45px;
          height: 4.5rem; }
        #wrapper #main .content .register_section .form_body .step_2 .form-group.city select, #wrapper #main .content .register_section .form_body .step_2 .form-group.province select {
          width: 100%; }
        #wrapper #main .content .register_section .form_body .step_3 .form-group.damage_desc {
          display: none; }
        #wrapper #main .content .register_section .form_body .step_4 .form-group.history_desc_1, #wrapper #main .content .register_section .form_body .step_4 .form-group.history_desc_2 {
          display: none; }
      #wrapper #main .content .ticket_section .form_body {
        width: 50%;
        margin: 25px auto;
        margin: 2.5rem auto; }
        #wrapper #main .content .ticket_section .form_body input[type="email"],
        #wrapper #main .content .ticket_section .form_body input[type="text"],
        #wrapper #main .content .ticket_section .form_body textarea {
          position: relative;
          border: none;
          border-bottom: solid #f0f0f0;
          -webkit-box-sizing: border-box;
             -moz-box-sizing: border-box;
                  box-sizing: border-box;
          -webkit-transition: all 0.5s;
          transition: all 0.5s;
          width: 100%;
          border-bottom-width: 1px;
          border-bottom-width: 0.1rem;
          padding: 10px;
          padding: 1rem;
          height: 45px;
          height: 4.5rem; }
          #wrapper #main .content .ticket_section .form_body input[type="email"]:focus,
          #wrapper #main .content .ticket_section .form_body input[type="text"]:focus,
          #wrapper #main .content .ticket_section .form_body textarea:focus {
            border-bottom-color: #5dc560;
            color: #5dc560; }
        #wrapper #main .content .ticket_section .form_body textarea {
          outline: none;
          height: 100px;
          height: 10rem; }
        #wrapper #main .content .ticket_section .form_body .form-group.name {
          width: -webkit-calc(50% - 10px);
          width: calc(50% - 10px);
          -webkit-box-sizing: border-box;
             -moz-box-sizing: border-box;
                  box-sizing: border-box;
          float: right;
          margin-left: 10px;
          margin-left: 1rem; }
        #wrapper #main .content .ticket_section .form_body .form-group.email {
          width: -webkit-calc(50% - 10px);
          width: calc(50% - 10px);
          -webkit-box-sizing: border-box;
             -moz-box-sizing: border-box;
                  box-sizing: border-box;
          float: right;
          margin-right: 10px;
          margin-right: 1rem; }
        #wrapper #main .content .ticket_section .form_body button {
          position: relative;
          float: left;
          text-align: center;
          background-color: #f0f0f0;
          color: #adadad;
          border: solid #f0f0f0;
          overflow: hidden;
          z-index: 1;
          -webkit-transition: all 1s;
          transition: all 1s;
          padding: 10px 15px;
          padding: 1rem 1.5rem;
          border-width: 1px;
          border-width: 0.1rem;
          min-width: 200px;
          min-width: 20rem; }
          #wrapper #main .content .ticket_section .form_body button:before {
            content: "";
            position: absolute;
            bottom: 0;
            right: 0;
            width: 220px;
            height: 220px;
            color: #000;
            background-color: #5dc560;
            -webkit-transform: translate(100%, 100%);
                -ms-transform: translate(100%, 100%);
                    transform: translate(100%, 100%);
            -webkit-border-radius: 100% 0 0 0;
                    border-radius: 100% 0 0 0;
            -webkit-transition: all 1s;
            transition: all 1s;
            z-index: -1; }
          #wrapper #main .content .ticket_section .form_body button:hover {
            color: #fff;
            border-color: #5dc560; }
            #wrapper #main .content .ticket_section .form_body button:hover:before {
              -webkit-transform: translate(0, 0);
                  -ms-transform: translate(0, 0);
                      transform: translate(0, 0); }

.sidebar_right.sidebar_active {
  display: block;
  -webkit-transform: translate(100%, 0);
      -ms-transform: translate(100%, 0);
          transform: translate(100%, 0);
  -webkit-transition: -webkit-transform 400ms ease;
  transition: -webkit-transform 400ms ease;
  transition: transform 400ms ease;
  transition: transform 400ms ease, -webkit-transform 400ms ease;
  width: 10%; }

.sidebar_right {
  width: 10%;
  height: 100%;
  position: fixed;
  top: 0;
  z-index: 0;
  background: #f0f0f0;
  -webkit-transform: translate(0, 0);
      -ms-transform: translate(0, 0);
          transform: translate(0, 0);
  -webkit-transition: -webkit-transform 400ms ease;
  transition: -webkit-transform 400ms ease;
  transition: transform 400ms ease;
  transition: transform 400ms ease, -webkit-transform 400ms ease;
  overflow: hidden;
  margin-top: 110px;
  margin-top: 11rem; }
  .sidebar_right .menu_column {
    width: 100%;
    float: right; }
    .sidebar_right .menu_column ul {
      list-style: none;
      width: 100%;
      float: right;
      padding: 0;
      margin: 0; }
      .sidebar_right .menu_column ul li {
        float: right;
        width: 100%;
        text-align: center;
        line-height: 2.5;
        padding: 25px;
        padding: 2.5rem; }
        .sidebar_right .menu_column ul li a {
          text-align: center;
          display: block;
          color: #adadad; }
          .sidebar_right .menu_column ul li a span.icon {
            display: block;
            width: 100%;
            float: right; }
            .sidebar_right .menu_column ul li a span.icon i {
              font-size: 45px;
              font-size: 4.5rem; }
      .sidebar_right .menu_column ul li:hover a {
        color: #3b4557; }

.sidebar_left.sidebar_active {
  display: block;
  -webkit-transform: translate(0, 0);
      -ms-transform: translate(0, 0);
          transform: translate(0, 0);
  width: 75%;
  -webkit-transition: -webkit-transform 400ms ease;
  transition: -webkit-transform 400ms ease;
  transition: transform 400ms ease;
  transition: transform 400ms ease, -webkit-transform 400ms ease; }

.sidebar_left {
  width: 75%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 0;
  -webkit-transform: translate(0, 0);
      -ms-transform: translate(0, 0);
          transform: translate(0, 0);
  -webkit-transition: -webkit-transform 400ms ease;
  transition: -webkit-transform 400ms ease;
  transition: transform 400ms ease;
  transition: transform 400ms ease, -webkit-transform 400ms ease;
  background: #ecf0f6;
  z-index: 1; }
  .sidebar_left .user_information {
    height: auto;
    overflow: hidden;
    padding: 25px;
    padding: 2.5rem; }
    .sidebar_left .user_information .user_picture {
      float: right;
      width: 100%; }
      .sidebar_left .user_information .user_picture figure {
        position: relative; }
        .sidebar_left .user_information .user_picture figure a {
          display: block; }
          .sidebar_left .user_information .user_picture figure a img {
            width: 50%;
            margin: 0 auto;
            -webkit-border-radius: 50%;
                    border-radius: 50%;
            display: block;
            border: solid #adadad;
            border-width: 5px;
            border-width: 0.5rem; }
        .sidebar_left .user_information .user_picture figure span.edit_picture {
          position: absolute;
          top: 0;
          left: 50%;
          background: #fff;
          -webkit-border-radius: 50%;
                  border-radius: 50%;
          text-align: center;
          -webkit-transform: translate(100%, 30%);
              -ms-transform: translate(100%, 30%);
                  transform: translate(100%, 30%);
          width: 25px;
          width: 2.5rem;
          height: 25px;
          height: 2.5rem;
          line-height: 25px;
          line-height: 2.5rem; }
        .sidebar_left .user_information .user_picture figure figcaption {
          text-align: center; }
          .sidebar_left .user_information .user_picture figure figcaption h2 {
            color: #3b4557;
            font-weight: bold;
            font-size: 14px;
            font-size: 1.4rem; }
    .sidebar_left .user_information .body_composition_new {
      width: 100%;
      float: right;
      border: solid #adadad;
      border-width: 0 0 1px 0;
      border-width: 0 0 0.1rem 0;
      padding-bottom: 20px;
      padding-bottom: 2rem; }
      .sidebar_left .user_information .body_composition_new h3 {
        color: #adadad;
        font-size: 12px;
        font-size: 1.2rem; }
      .sidebar_left .user_information .body_composition_new .weight {
        float: right;
        width: 50%;
        text-align: right; }
        .sidebar_left .user_information .body_composition_new .weight h2 {
          font-weight: bold;
          color: #5dc560;
          margin-bottom: 0;
          font-size: 60px;
          font-size: 6rem; }
        .sidebar_left .user_information .body_composition_new .weight span {
          color: #3b4557;
          font-weight: 500; }
      .sidebar_left .user_information .body_composition_new .height {
        float: right;
        width: 50%;
        text-align: left; }
        .sidebar_left .user_information .body_composition_new .height h2 {
          font-weight: bold;
          color: #5dc560;
          margin-bottom: 0;
          font-size: 60px;
          font-size: 6rem; }
        .sidebar_left .user_information .body_composition_new .height span {
          color: #3b4557;
          font-weight: 500; }
      .sidebar_left .user_information .body_composition_new .file_number {
        float: right;
        width: 100%;
        text-align: center; }
        .sidebar_left .user_information .body_composition_new .file_number h2 {
          font-weight: bold;
          color: #5dc560;
          margin-bottom: 0;
          font-size: 60px;
          font-size: 6rem; }
        .sidebar_left .user_information .body_composition_new .file_number span {
          color: #3b4557;
          font-weight: 500; }
    .sidebar_left .user_information .body_composition_old {
      width: 100%;
      float: right; }
      .sidebar_left .user_information .body_composition_old ul {
        list-style: none;
        float: right;
        width: 100%;
        padding: 0;
        margin: 10px 0;
        margin: 1rem 0; }
        .sidebar_left .user_information .body_composition_old ul li {
          float: right;
          width: 100%;
          padding: 5px 0;
          padding: 0.5rem 0; }
          .sidebar_left .user_information .body_composition_old ul li h2 {
            color: #3b4557;
            font-weight: 500;
            display: inline-block;
            margin: 0;
            font-size: 12px;
            font-size: 1.2rem; }
          .sidebar_left .user_information .body_composition_old ul li span {
            color: #5dc560;
            font-weight: 500;
            float: left;
            font-size: 12px;
            font-size: 1.2rem; }
      .sidebar_left .user_information .body_composition_old a.final_paper {
        background: #6a51dc;
        color: #fff;
        float: right;
        font-size: 10px;
        font-size: 1rem;
        padding: 5px 10px;
        padding: 0.5rem 1rem;
        -webkit-border-radius: 4px;
                border-radius: 4px;
        -webkit-border-radius: 0.4rem;
                border-radius: 0.4rem;
        margin: 10px 0;
        margin: 1rem 0; }

@media (min-width: 481px) {
  header.header.header_active {
    -webkit-transform: translate(55%, 0);
        -ms-transform: translate(55%, 0);
            transform: translate(55%, 0); }
  header.header .toggle_sidebar_right {
    width: 30%;
    width: 30%; }

  #wrapper {
    margin-right: 30%; }
    #wrapper.wrapper_active {
      -webkit-transform: translate(55%, 0);
          -ms-transform: translate(55%, 0);
              transform: translate(55%, 0);
      margin-right: 0; }

  .sidebar_right {
    width: 30%; }

  .sidebar_left {
    width: 55%; }
    .sidebar_left.sidebar_active {
      width: 55%; } }
@media (min-width: 544px) {
  header.header.header_active {
    -webkit-transform: translate(50%, 0);
        -ms-transform: translate(50%, 0);
            transform: translate(50%, 0); }
  header.header .toggle_sidebar_right {
    width: 25%;
    width: 25%; }

  #wrapper {
    margin-right: 25%; }
    #wrapper.wrapper_active {
      -webkit-transform: translate(50%, 0);
          -ms-transform: translate(50%, 0);
              transform: translate(50%, 0);
      margin-right: 0; }

  .sidebar_right {
    width: 25%; }

  .sidebar_left {
    width: 50%; }
    .sidebar_left.sidebar_active {
      width: 50%; } }
@media (min-width: 768px) {
  header.header.header_active {
    -webkit-transform: translate(40%, 0);
        -ms-transform: translate(40%, 0);
            transform: translate(40%, 0); }
  header.header .toggle_sidebar_right {
    width: 20%;
    width: 20%; }

  #wrapper {
    margin-right: 20%; }
    #wrapper.wrapper_active {
      -webkit-transform: translate(40%, 0);
          -ms-transform: translate(40%, 0);
              transform: translate(40%, 0);
      margin-right: 0; }

  .sidebar_right {
    width: 20%; }

  .sidebar_left {
    width: 40%; }
    .sidebar_left.sidebar_active {
      width: 40%; } }
@media (min-width: 992px) {
  header.header.header_active {
    -webkit-transform: translate(30%, 0);
        -ms-transform: translate(30%, 0);
            transform: translate(30%, 0); }
  header.header .toggle_sidebar_right {
    width: 15%;
    width: 15%; }

  #wrapper {
    margin-right: 15%; }
    #wrapper.wrapper_active {
      -webkit-transform: translate(30%, 0);
          -ms-transform: translate(30%, 0);
              transform: translate(30%, 0);
      margin-right: 0; }

  .sidebar_right {
    width: 15%; }

  .sidebar_left {
    width: 30%; }
    .sidebar_left.sidebar_active {
      width: 30%; } }
@media (min-width: 1200px) {
  header.header.header_active {
    -webkit-transform: translate(20%, 0);
        -ms-transform: translate(20%, 0);
            transform: translate(20%, 0); }
  header.header .toggle_sidebar_right {
    width: 10%;
    width: 10%; }

  #wrapper {
    margin-right: 10%; }
    #wrapper.wrapper_active {
      -webkit-transform: translate(20%, 0);
          -ms-transform: translate(20%, 0);
              transform: translate(20%, 0);
      margin-right: 0; }

  .sidebar_right {
    width: 10%; }

  .sidebar_left {
    width: 20%; }
    .sidebar_left.sidebar_active {
      width: 20%; } }
